*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-color{
    background-color:whitesmoke;
}
.border-color{
    border: 1px solid rgba(2, 2, 2, 0.116);
    padding: 20px;
    border-bottom: 2px solid rgb(26, 2, 71);
}